/*** Colors ***/
$base-text-color: color('gray', 'xdark');
$red: color('red', 'base');
$green: color('green', 'base');
$blue: color('blue', 'base');
$dark-blue: color('darkblue', 'base');
$violet: color('violet', 'base');
$yellow: color('yellow', 'base');

/*** Fonts ***/
$rouble-font-path: "fonts/rouble/" !default;

/*** Global ***/
// Media Query Ranges
$small-screen-up: 651px !default;
$medium-screen-up: 991px !default;
$large-screen-up: 1201px !default;
$small-screen: 650px !default;
$medium-screen: 990px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width: #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width: #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width: #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width: #{$medium-screen})" !default;
$small-only: "only screen and (max-width: #{$small-screen})" !default;
$medium-only: "only screen and (min-width: #{$small-screen-up}) and (max-width: #{$medium-screen})" !default;
$large-only: "only screen and (min-width: #{$medium-screen-up}) and (max-width: #{$large-screen})" !default;


/*** Typography ***/
$small-text: 12px !default;
$base-text: 14px !default;
$big-text: 16px !default;
$xbig-text: 18px !default;
$large-text: 22px !default;
$xlarge-text: 28px !default;