.card {
	border: 1px solid color('bluegray', 'xlight');
	margin-bottom: 10px;
	@media #{$large-and-up}{
		margin-bottom: 20px;
	}
	&.service {
		padding: 15px;
		@media #{$small-only}{
			.card-title {
				margin-bottom: 0;
			}
		}
		@media #{$medium-and-up}{
			padding: 30px 20px 15px;
			min-height: 355px;
		}
		@media #{$large-and-up}{
			padding: 30px 20px 5px;
			min-height: 365px;
		}
	}
	&.subcategory {
		@media #{$medium-and-up}{
			.m3 & {
				min-height: 180px;
			}
			.m4 & {
				min-height: 240px;
			}
		}
		@media #{$large-and-up}{
			.l3 & {
				min-height: 280px;
			}
			.l4 & {
				min-height: 380px;
			}
		}
	}
}
.card-img,
.card-img .img-link {
	height: 110px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media #{$medium-and-up}{
		height: 310px;
	}
	.subcategory & {
		@media #{$medium-and-up}{
			.m3 & {
				height: 115px;
			}
			.m4 & {
				height: 170px;
			}
		}
		@media #{$large-and-up}{
			.l3 & {
				height: 190px;
			}
			.l4 & {
				height: 290px;
			}
		}
	}
}
.card-content {
	padding: 10px;
	@media #{$medium-and-up}{
		padding: 20px;
		min-height: 125px;
	}
	@media #{$large-and-up}{
		padding: 20px 25px;
		min-height: 120px;
	}
	.subcategory & {
		@media #{$medium-and-up}{
			padding: 10px;
			min-height: 55px;
		}
		@media #{$large-and-up}{
			padding: 20px;
			min-height: 90px;
		}
	}
}
.card-title {
	.service & {
		@media #{$small-only}{
			margin-bottom: 0;
		}
	}
	.idea & {
		color: $yellow;
		font-size: $big-text;
		line-height: 20px;
		font-weight: normal;
		margin: 0 auto 5px;
		@media #{$medium-and-up}{
			font-size: $xbig-text;
			margin-bottom: 10px;
		}
		@media #{$large-and-up}{
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 5px;
		}
	}
	.subcategory & {
		color: $yellow;
		font-size: $base-text;
		font-weight: normal;
		margin: 0;
		@media #{$large-and-up}{
			font-size: $xbig-text
		}
	}
	a:hover {
		text-decoration: underline;
	}
}
.card-text {
	@media #{$small-only}{
		font-size: $base-text;
	}
	@media #{$medium-and-down}{
		line-height: 18px;
	}
}