.catalog {
	margin-top: 10px;
	margin-bottom: 20px;
}
.category-block {
	margin-bottom: 5px;
	@media #{$medium-and-up}{
		margin-bottom: 10px;
	}
	@media #{$large-and-up}{
		margin-bottom: 20px;
	}
}
.category {
	color: #fff;
	.icon {
		fill: #fff;
	}
	a {
		@extend a.nostyle;
	}
	.valign-wrapper {
		align-items: center;
	}
	@media #{$small-only}{
		height: 80px;
	}
	@media #{$medium-and-up}{
		.catalog & {
			background: none;
			color: $base-text-color;
			.icon {
				fill: $base-text-color;
			}
		}
		.categories-box & {
			padding: 1px 20px 5px;
		}
	}
	@media #{$large-and-up}{
		.categories-box & {
			padding: 1px 0 5px;
		}
	}
}
.category-title {
	a {
		padding: 20px 10px;
		@media #{$medium-and-up}{
			padding: 0;
		}
	}
	@media #{$medium-and-up}{
		margin: 20px 0;
		.categories-box & {
			margin: 20px 0 5px;
		}
	}
	@media #{$large-and-up}{
		.categories-box & {
			margin: 20px 30px 5px;
		}
	}
}
.category-icon {
	width: 30px;
	height: 35px;
	margin-right: 7px;
	@media #{$medium-and-up}{
		width: 40px;
		height: 40px;
		margin-right: 15px;
	}
}
.category-name {
	font-size: $big-text;
	@media #{$medium-and-up}{
		font-size: 20px;
	}
}

.subcategory {
	@media #{$large-and-up}{
		&:hover a {
			text-decoration: underline;
		}
	}
}
.subcategories-list.valign-wrapper {
	@media #{$small-only}{
		display: block;
		.s-fullwidth {
			padding: 0;
		}
		.subcategory.card {
			background: color('bluegray', 'xlight');
			padding: 10px;
			margin-bottom: 1px;
			height: 80px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			.card-content {
				width: 100%;
			}
			.card-title {
				font-size: $big-text;
				line-height: 21px;
				color: color('gray', 'medium');
				padding-right: 50px;
				a {
					display: block;
					width: 100%;
				}
			}
			.icon-direction {
				position: absolute;
				top: 50%;
				margin-top: -20px;
				right: 0;
				width: 40px;
				height: 40px;
				.icon {
					fill: color('red', 'light');
				}
			}
		}
	}
}

.categories-box {
	.categories-list, .plate {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
	}
	.menu-link {
		font-size: $big-text;
		display: inline-block;
		padding: 7px 0;
		@media #{$large-and-up}{
			display: block;
			padding: 10px 20px;
			&:hover {
				background: #fff;
			}
		}
	}
	.plate {
		order: 1;
	}
	.category-block {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		align-content: stretch;
		order: 1;
		@media #{$small-only}{
			&:first-child,
			&:last-child {
				order: 0;
			}
		}
	}
	.category {
		width: 100%;
	}
	@media #{$medium-only}{
		.m-horizontal.category-block {
			max-width: 100%;
			.menu {
				column-count: 3;
			}
		}
	}
}
@media #{$large-and-up}{
	.subcategories-list .menu-link:hover {
		@each $color in green, blue, red, yellow, violet, darkblue {
			.#{$color} & {
				color: color(#{$color}, 'base');
			}
		}
	}
}