// menu
.menu {
	@extend ul.nostyle;
	.menu-link,
	.submenu-link {
		@extend a.nostyle;
	}
}
.horizontal-menu {
	@extend ul.horizontal;
	.menu-link {
		display: block;
		padding: 13px 7px;
	}
	.menu-item:first-of-type .menu-link {
		padding-left: 0;
	}
}
.vertical-menu {
	.menu-item {
		margin: $gutter-width/2 - 1px 0;
	}
}
.main-menu {
	border-top:  1px solid color('bluegray', 'xlight');
	border-bottom: 1px solid color('bluegray', 'xlight');
	height: 55px;
	.container > .menu {
		position: static;
		display: table;
		width: 100%;
		> .menu-item {
			position: static;
			display: table-cell;
			width: 14.29%;
			> .menu-link {
				display: block;
				text-align: center;
				font-size: $xbig-text;
				line-height: 1;
				padding: 1em 0;
				border: 1px solid color('bluegray', 'xlight');
				border-left-width: 0;
				height: 55px;
				margin-top: -1px;
				margin-bottom: -1px;
				&:hover {
					background: color('red', 'light');
					border-color: color('red', 'light');
					color: #fff;
				}
			}
			&:first-child .menu-link {
				border-left-width: 1px;
			}
		}
	}
	.parent > .submenu {
		@extend .menu;
		position: absolute;
		//display: table;
		display: none;
		width: 100vw;
		left: calc(-0.5*(100vw - 100%));
		z-index: 5;
		background: #fff;
		border-top: 3px solid color('red', 'light');
		border-bottom: 3px solid color('red', 'light');
		padding: 20px calc(50vw - 50%) 15px;
		> .menu-item {
			display: table-cell;
			width: 16.67%;
			border-left: 1px solid color('bluegray', 'xlight');
			padding: 0 15px 0 10px;
			&:first-child {
				padding-left: 0;
				border-left: 0;
			}
			> .menu-link {
				font-size: $big-text;
				padding: 0;
				border: 0;
				font-weight: bold;
				text-align: left;
				color: color('gray', 'medium');
			}
		}
		.submenu {
			@extend ul.nostyle;
			display: block;
			position: relative;
			width: 100%;
			padding: 0;
			margin: 20px 0 0;
			.menu-item {
				display: block;
				margin: 18px 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.menu-link {
				font-size: $base-text;
				color: color('gray', 'medium');
				&:hover {
					color: color('red', 'light');
					text-decoration: underline;
				}
			}
		}
	}
	.parent:hover > .submenu {
		display: table;
	}
}

.mobile-menu {
	@extend .menu;
	font-size: $big-text;
	.menu-link {
		display: block;
		padding: 13px 0 12px;
	}
	.menu-item {
		border-bottom: 1px solid color('bluegray', 'xlight');
		&:last-of-type {
			border-bottom: 0;
		}
	}
	.menu-item.parent {
		.menu-link {
			display: inline-block;
			padding-right: 10px;
		}
		.collapsible-header {
			display: inline-block;
			padding: 8px 10px 11px;
			width: 30px;
			height: 24px;
			vertical-align: middle;
			.triangle {
				display: block;
				position: relative;
				top: auto;
				left: auto;
				width: 0;
				height: 0;
				border-top: 5px solid color('gray', 'dark');
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				will-change: transform;
				transform: translateZ(0);
				transform: rotate(0);
				transition: transform .3s ease;
				&:after {
					display: none;
				}
			}
			&.active .triangle {
				transform: rotate(-180deg);
				transition: transform .3s ease;
			}
		}
	}
	.submenu {
		@extend .menu;
		padding-bottom: 10px;
		font-size: $base-text;
		.menu-item {
			margin-bottom: 20px;
			margin-left: 20px;
			border: 0;
		}
		.menu-link {
			padding: 0;
		}
	}
}