// modal 
.modal {
	z-index: 9999;
	background: #fff;
	display: none;
	position: absolute;
	.btn-close {
		position: absolute;
		z-index: 999;
	}
	&.small-modal {
		width: 92%;
		left: 4%;
		top: 20%;
		.modal-inner {
			padding: 30px 20px;
		}
		@media #{$medium-and-up}{
			max-width: 600px;
			left: 50%;
			margin-left: -300px;
			.modal-inner {
				padding: 30px 30px 40px;
			}
		}
		@media #{$large-and-up}{
			max-width: 780px;
			margin-left: -390px;
			.modal-inner {
				padding: 40px 50px 50px;
			}
		}
	}
}
.dark-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgba(0,0,0,.6);
	display: none;
}
.modal-title {
	font-weight: 600;
	margin-bottom: 10px;
	font-size: $large-text;
	@media #{$medium-and-up}{
		font-size: $xlarge-text;
	}	
	.success-form & {
		color: color('green', 'light');
	}
	.error-form & {
		color: color('red', 'base');
	}
}
.modal-text {
	font-size: $base-text;
	@media #{$medium-and-up}{
		font-size: $big-text;
	}
}