.soc-box {
	font-size: $big-text;
	vertical-align: middle;
	padding-top: 3px;
	.soc-link {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 0 5px;
		vertical-align: middle;
		&:first-of-type {
			margin-left: 20px;
		}
		.icon {
			fill: $base-text-color;
		}
		&:hover .icon {
			fill: color('red', 'light');
		}
	}
	.footer & {
		text-align: right;
		.icon {
			fill: #fff;
		}
	}
	.contacts-box & {
		@media #{$small-only}{
			margin-left: 6px;
		}
	}
}