html{
	font-family: roboto, arial, sans-serif;
	line-height: 1.5;
	font-size: $base-text;
	font-weight: normal;
	color: $base-text-color;
	-webkit-font-smoothing: antialiased;
}
.rouble {
	font-family: rouble, sans-serif;
	font-style: normal;
}
p {
	position: relative;
	margin: 1em 0;
}
// Text Styles
em { 
	font-style: italic; 
}
.uppercase {
	text-transform: uppercase;
}
// wight
.light { 
	font-weight: 300; 
}
strong, .medium { 
	font-weight: 600; 
}
.bold {
	font-weight: 800;
}
.italic {
	font-style: italic;
}
// color
.lighter-color {
	color: color('text', 'lighter');
}	
.light-color {
	color: color('gray', 'light');
}
.dark-color {
	color: color('text', 'dark');
}
.darker-color {
	color: color('text', 'darker');
}
// size
small { 
	font-size: 75%; 
}
.small-text {
	font-size: $small-text;
}
.big-text {
	font-size: $big-text;
	&.s-base {
		@media #{$small-only}{
			font-size: $base-text;
		}
	}
}
.xbig-text {
	font-size: $xbig-text;
	&.s-base {
		@media #{$small-only}{
			font-size: $base-text;
		}
	}
}
.large-text {
	font-size: $large-text;
}
ul {
	list-style-type: none;
	li {
		padding-left: 20px;
		&:before {
			content: '';
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: color('red', 'light');
			margin-left: -20px;
			margin-right: 13px;
		}
	}
}
ol {
	list-style-position: inside;
}
ul, ol {
	padding: 0;
	margin: 3.75em 0 2.8em;
	li {
		margin: 0.5em 0;
	}
	&.nostyle {
		list-style: none;
		padding: 0;
		margin: 0;
		> li {
			padding: 0;
			margin: 0;
			&:before {
				display: none;
			}
		}
	}
	&.horizontal > li {
		display: inline-block;
	}
}

a {
	color: $red;
	
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	
	&.nostyle {
		color: inherit;
		text-decoration: none;
	}
	&.img-link {
		display: block;
		border: 0;
		text-decoration: none;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.5;
	.divider + & {
		margin-top: 1em;
	}
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
p a:hover {
	text-decoration: underline;
}
h1 {
	font-size: $large-text;
	margin: 1.4em 0 0.7em;
	@media #{$medium-and-up}{
		font-size: $xlarge-text;
	}
}
h2 {
	font-size: $xbig-text;
	margin: 1em 0;
	@media #{$medium-and-up}{
		margin: 3em 0 1em;
	}
}
h3 {
	font-size: $base-text;
	margin: 3em 0 1.3em;
}
h4 {
	font-size: $base-text;
	margin: 1em 0;
}
h5 {
	font-size: $base-text;
	margin: 1em 0;
}
h6 {
	font-size: $base-text;
	margin: 1em 0;
}

.page-title {
	font-size: $xbig-text;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	@media #{$medium-and-up}{
		font-size: 34px;
		line-height: 46px;
	}
}
.box-title {
	@extend h1;
	text-align: center;
}
.card-title {
	@extend h2;
	@media #{$small-only}{
		font-weight: 100;
	}
	.card & {
		margin: 1em auto;
	}
}

// images
.img-center {
	margin: $gutter-width*2.5 auto $gutter-width*3;
	display: block;
	&.s-fullwidth,
	&.fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
}
.img-circle {
	border-radius: 50%;
	border: 1px solid color('border','lighter');
	display: flex;
	justify-content: center;
	align-items: center;
}
@media #{$medium-and-up}{
	.img-center.s-fullwidth {
		margin-left: auto;
		margin-right: auto;
	}
	.img-center.m-fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
	.img-left {
		float: left;
		margin-right: $gutter-width*2;
		margin-bottom: $gutter-width*2;
	}
	.img-right {
		float: right;
		margin-left: $gutter-width*2;
		margin-bottom: $gutter-width*2;
	}
	.img-left + p,
	.img-right + p {
		margin-top: 0;
		margin-bottom: $gutter-width*2;
	}
}
@media #{$large-and-up}{
	.img-center.s-fullwidth,
	.img-center.m-fullwidth {
		margin-left: auto;
		margin-right: auto;
	}
	.img-center.l-fullwidth {
		margin-left: calc(-1*(100vw - 100%)/2);
	}
	.img-left {
		margin-right: $gutter-width*3;
		margin-bottom: $gutter-width*5;
	}
	.img-right {
		margin-left: $gutter-width*3;
		margin-bottom: $gutter-width*5;
	}
}

.cols-2 {
	@media #{$medium-and-up}{
		column-count: 2;
		column-gap: 50px;
		p:first-child {
			margin-top: 0;
		}
	}
	@media #{$large-and-up}{
		column-gap: 100px;
	}
}

// tables 
table:not(.clear-style) {
	width: 100%;
	font-weight: normal;
	margin: 2.8em auto 3.3em;
	th, td {
		padding: 3%;
		border: 1px solid #fff;
		border-left-width: 0;
		text-align: center;
		@media #{$large-and-up}{
			padding: 30px;
		}
		&:first-child {
			text-align: left;
			width: 38.8%;
		}
		&:last-child {
			border-right-width: 0;
		}
	}
	thead th {
		font-weight: normal;
		background: color('red', 'light');
		color: #fff;
	}
	tr:nth-child(odd) td {
		background: color('bluegray', 'xlight');
	}
	tr:nth-child(even) td {
		background: color('bluegray', 'medium');
	}
}
table.clear-style {
	width: 100%;
	font-weight: normal;
	margin: 10px 0;
	td {
		vertical-align: middle;
		padding: 6px 8px;
		border-bottom: 1px solid #d5d5d5;
		@media #{$medium-and-up}{
			padding: 10px;
		}
	}
	tr:last-child td {
		border-bottom: 0;
	}
	tr td:first-child {
		@media #{$medium-and-up}{
			padding-left: 0;
		}
	}
	.contact-box & tr td {
		padding: 10px 0;
	}
}
.contact-table {
	margin-top: 0;
	.td-phone {
		text-align: right;
		min-width: 120px;
	}
	@media #{$medium-and-up}{
		font-size: $big-text;
		margin: 10px 0 20px;
		.td-phone {
			min-width: 150px;
		}
	}
}

.phone,
.location,
.email {
	display: block;
	padding-left: 30px;
}
.phone {
	background: url('images/phone.png') center left no-repeat;
}
.location {
	background: url('images/map.png') center left no-repeat;
}
.email {
	background: url('images/email.png') center left no-repeat;
}